@import "base.css";
@import "base.less";
/*CSS ONLY SUPPORTS MULTI-LINE COMMENTS*/
/*FIRST LESS VARIABLE DECLARATION RESULT*/
* {
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}
/*LESS NESTING RESULT*/
header {
  padding: 10px;
  background-color: #333;
}
header > h1 {
  background-color: #eeeeee;
}
header p {
  color: #fff;
  font: 1 em Helvetica, Arial, sans-serif;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* & RESULT*/
.boton-ok {
  color: green;
}
.boton-error {
  color: red;
}
.fatherClass .childClass > h1 {
  color: blue;
}
.grandFatherClass .fatherClass .childClass {
  color: red;
}
/* & + & RESULT*/
div + div,
div + p,
div + span,
p + div,
p + p,
p + span,
span + div,
span + p,
span + span {
  color: white;
}
/*VARIABLE INTERPOLATION RESULT*/
#test-img {
  height: 200px;
  color: #ff;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffcc00;
}
#test-img-2 {
  color: #333;
  background-color: #eeeeee;
}
#test-img-2:after {
  content: 'Hello LESS';
}
/*LESS DEFAULT FUNCTIONS AND OPERATIONS RESULT*/
.column-2 {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  border: 1px solid #333333 3;
  background-color: #dd9944;
}
.column-4 {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  border: 1px solid #333333 3;
  background-color: #ffc222;
}
.clearfix {
  clear: both;
}
.special-column {
  border-width: 4px;
}
/*LESS EXTEND RESULT*/
.selectorA,
.selectorC,
.selectorD {
  color: #aaa;
}
.selectorA > a,
.selectorD > a {
  text-decoration: none;
}
.selectorA > a:hover,
.selectorD > a:hover {
  text-decoration: underline;
}
.selectorB,
.selectorC,
.selectorD {
  border: : 1px solid #fff;
}
.selectorC {
  background-color: #fc0;
}
/*LESS EXTEND ALL RESULT*/
.selectorD {
  background-color: #ccc;
}
/*LESS MERGE RESULT*/
.alert {
  background: url('../img/bg/alternative');
  background-repeat: no-repeat;
  background-position: center;
}
.alert-ok {
  background: url('../img/bg/alternative'), url('../img/bg/alternative');
  background-repeat: no-repeat, no-repeat;
  background-position: center, left top;
}
/*IMPORT RESULTS*/
.base,
.extended,
.extended {
  color: red;
}
.extended {
  border: 1px solid #ccc;
}
/*IMPORT (REFERENCE) RESULT*/
.extended {
  border: 1px solid #ccc;
}
.base {
  color: red;
}

.base,
.extended,
.extended {
  color: red;
}
/*CONDITIONALS RESULT*/
.farewell2 {
  color: blue;
}
/*LOOPS RESULT*/
section {
  width: 100px;
  width: 50px;
  width: 33.33333333px;
}
.col-1 {
  width: 25%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}
/*MIXIN RESULT*/
.alrt-ok {
  text-align: center;
  background-color: #aaa;
  color: green;
}
.alrt-ok:hover {
  bacground-color: #eee;
}
.alrt-error {
  text-align: center;
  background-color: #aaa;
  color: red;
}
.alrt-error:hover {
  bacground-color: #eee;
}
/*MIXIN WITH FUNCTIONS AND PARAMETERS RESULT*/
article {
  padding: 3.33333333px;
}
article {
  padding: 3.33333333px;
}
article {
  padding: 1.33333333px;
}
article {
  border: 10px 5px;
  padding: 3.33333333px;
}
/*FORMATS AND OPERATION RESULT*/
p.especial {
  background-color: #ffd633;
  border-color: #ffcc00;
}
/*RULES LIKE PARAMETERS IN A MIXIN RESULT*/
header {
  color: #333;
}
html.old header {
  background-color: blue;
}
footer {
  color: #333;
}
html.old footer {
  border: 1px solid white;
  background-color: red;
}
/*MIXIN CONDITIONAL (GUARDS) RESULT*/
.element1 {
  text-align: left;
}
.element2 {
  text-align: left;
  background-color: #ffcc00;
}
